<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534274947549-830balcs1t07fimha4bl9hornrihubb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534274947549-830balcs1t07fimha4bl9hornrihubb7</string>
	<key>API_KEY</key>
	<string>AIzaSyASwpBEkRrIH1FpimYtvcBQZluhdtrWGrs</string>
	<key>GCM_SENDER_ID</key>
	<string>534274947549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.chagodealer.user</string>
	<key>PROJECT_ID</key>
	<string>chago-c43b2</string>
	<key>STORAGE_BUCKET</key>
	<string>chago-c43b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:534274947549:ios:4772656fcb1aba508e1e34</string>
	<key>DATABASE_URL</key>
	<string>https://chago-c43b2.firebaseio.com</string>
</dict>
</plist>
